<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcitc.advertisement">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.zcitc.advertisement.activity.WebPageActivity"
            android:exported="false" />
    </application>

</manifest>